#include <windows.h>

//
// Version Information
//

VS_VERSION_INFO    VERSIONINFO
FILEVERSION     1, 1, 0, 0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
{
    BLOCK "StringFileInfo"
    {
        BLOCK "041104b0"
        {
            VALUE "FileDescription",  "大量のファイルを指定した単位でフォルダに一括整理するソフトウェアです。\0"
            VALUE "FileDescription",  "超大量ファイル整理\0"
            VALUE "FileVersion",      "1.1β\0"
            VALUE "InternalName",     "File Separation\0"
            VALUE "LegalCopyright",   "Copyright (C) 2019-2020 watamario All rights reserved.\0"
            VALUE "ProductName",      "超大量ファイル整理 for Windows CE\0"
            VALUE "ProductVersion",   "1.1β\0"
        }
        BLOCK "040904b0"
        {
            VALUE "Comments",         "This is a simple free software that separates a massive amount of files into folders by set separation unit.\0"
            VALUE "FileDescription",  "File Separation Software\0"
            VALUE "FileVersion",      "1.1 beta\0"
            VALUE "InternalName",     "File Separation\0"
            VALUE "LegalCopyright",   "Copyright (C) 2019-2020 watamario All rights reserved.\0"
            VALUE "ProductName",      "File Separation for Windows PC\0"
            VALUE "ProductVersion",   "1.1 beta\0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x411, 1200, 0x409, 1200
    }
}


//
// Icon
//

Res_Icon ICON "app.ico"


//
// Menu
//

Res_JapaneseMenu MENU
{
    POPUP "ファイル(&F)"
    {
        MENUITEM "終了(&X)", 2009
    }
    POPUP "編集(&E)"
    {
        MENUITEM "貼り付け(&P)", 2020
    }
    POPUP "&Language"
    {
        MENUITEM "日本語 (&J)", 2080
        MENUITEM "&English", 2081
    }
    POPUP "ヘルプ(&H)"
    {
        MENUITEM "使い方(&U)", 2101
        MENUITEM "このプログラムについて(&A)", 2109
    }
}

Res_EnglishMenu MENU
{
    POPUP "&File"
    {
        MENUITEM "E&xit", 2009
    }
    POPUP "&Edit"
    {
        MENUITEM "&Paste", 2020
    }
    POPUP "&Language"
    {
        MENUITEM "日本語 (&J)", 2080
        MENUITEM "&English", 2081
    }
    POPUP "&Help"
    {
        MENUITEM "How to &use", 2101
        MENUITEM "&About this software", 2109
    }
}

Res_Accel ACCELERATORS
{
    "^A", 2021
}


//
// String Table
//

STRINGTABLE
{
    // Japanese
    1000 "超大量ファイル整理"
    
    1001 "このプログラムについて"
    
    1002 "超大量ファイル整理 Ver. 1.1β\n\n\
製作者は、このソフトウェアの使用によって発生したバグ等による誤動作を含むいかなる損害に対しても補償致しません。自己責任でご利用ください。\n\n"

    1003 "開発環境: "
    
    1004 "プログラム種別: "
    
    1005 "CPUアーキテクチャ: "
    
    1006 "ビルド日時: "
    
    1007 "使い方"
    
    1008 "大量のファイルを指定した単位でフォルダに一括整理するシンプルなフリーソフトウェアです。\n\
上の入力ボックスに整理したいパス(フルパス)、ファイル名(ワイルドカード可)、何ファイル単位に振り分けるかを入力し、OKボタンまたはEnter(決定)で処理を開始します。基本的には辞書順に振り分けられるはずです。\n\
「中断」ボタンで中断できますが、既に振り分けられたファイルを元の場所に戻す機能はありません。必ず事前に付属のSandboxフォルダで動作を確認してください。"

    1009 "OK"
    
    1010 "中断"
    
    1011 "履歴消去"
    
    1012 "不正なフォルダです。"
    
    1013 "エラー"
    
    1014 "整理対象のフォルダを選択してください。"
    
    1015 "SHGetMalloc()関数でエラーが発生しました。メモリ不足の可能性があります。"
    
    1016 "対象パス:"
    
    1017 "ファイル名:"
    
    1018 "分割単位:"
    
    1019 "整理中です..."
    
    1020 "整理するパス、ファイル名、分割単位を入力"
    
    1021 "分割単位に無効な値が入力されました。\r\n"
    
    1022 "該当するファイルが見つかりませんでした｡入力したパス､ファイル名に誤りがないか確認してください｡\r\n"
    
    1023 "現在1フォルダ目に整理中..."
    
    1024 "ファイル %s を %s に移動中にエラーが発生しました｡ファイルを開いているアプリケーションは全て終了し､読み取り専用になっていないか確認して下さい｡\r\n"
    
    1025 "現在%dフォルダ目に整理中..."
    
    1026 "整理完了｡\r\n"
    
    1027 "整理中にエラーが発生しました｡\r\n"
    
    1028 "処理は中断されました｡\r\n"

    1029 "ceshell.dllから必要な関数を読み込めなかったため、フォルダ選択ダイアログを使用できません｡\n対象パスの欄に直接入力してください｡"

    1030 "情報"
    
    // English
    1100 "File Separation Software"
    
    1101 "About this software"
    
    1102 "File Separation Ver. 1.1 beta\n\
The author won't take any responsibility for any damages by using this software. Please use this software under your responsibility.\n\n"

    1103 "Development environment: "
    
    1104 "Application type: "
    
    1105 "CPU architecture: "
    
    1106 "Build date: "
    
    1107 "How to use"
    
    1108 "This is a simple free software that separates a massive amount of files into folders by set separation unit.\n\
Enter a full path to put files in order, filename(You can use wildcards), and separation unit into input boxes. Then, press the OK button or Enter key to start the process. Normally, files will be separated in alphabetical order.\n\
You can use the Abort button to stop the process, but this software doesn't have a feature to set back the moved files. Please use the attached Sandbox folder to test the behavior before using this software."
    
    1109 "OK"
    
    1110 "Abort"
    
    1111 "Clear History"
    
    1112 "Invalid folder selected."
    
    1113 "Error"
    
    1114 "Select a folder to put files in order."
    
    1115 "An error has occurred in SHGetMalloc() function. Your device's memory may be insufficient."
    
    1116 "Path:"
    
    1117 "Filename:"
    
    1118 "Unit:"
    
    1119 "Processing..."
    
    1120 "Enter a path, filename, and separation unit."
    
    1121 "Invalid number entered into the separation unit.\r\n"
    
    1122 "File not found. Make sure you entered the correct path and filename.\r\n"
    
    1123 "Now moving files into the folder 1 ..."
    
    1124 "An error has occurred while moving %s into %s . Close every application opening the file, and make sure it is not read-only.\r\n"
    
    1125 "Now moving files into the folder %d ..."
    
    1126 "The separation has finished.\r\n"
    
    1127 "Error(s) in the separation.\r\n"

    1128 "The process has been aborted.\r\n"

    1129 "Failed to load necessary functions from ceshell.dll, and you can't use the Browse for Folders dialog.\nPlease enter or paste the path directly to the input box."

    1130 "Information"
}